.product {
  text-align: center;
  cursor: pointer;
  width:260px;

  &__thumbnail {
    background-color: #f8f8f8;
    margin-bottom: 20px;
    width: 100%;

    & > img {
      height: 260px;
      width: 100%;
    }
  }
  & > h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    margin: 0 0 10px;
  }
  &__price {
    display: flex;
    justify-content:center;

    & > div {
      margin: 0 8px;
    }

    & > div > span {
      font-size: 15px;
      line-height: 17px;
      font-weight: 500;
    }
  }
  

  & > h3:hover {
    opacity: 0.8;
  }
}
