.product {
  text-align: center;
  margin: 0 8px;
  cursor: pointer;

  &__thumbnail {
    background-color: #f8f8f8;
    padding: 15px;
    margin-bottom: 20px;

    & > img {
      height: 230px;
    }
  }
  & > h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    margin: 0 0 8px;
  }
  & > h5 {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    margin: 0;
  }

  & > h3:hover {
    opacity: 0.8;
  }
}
