.title-page {
  text-transform: capitalize;
  font-size: 16px;

  & > a {
    text-decoration: none;
    color: #000;
  }

  & > a:hover {
    text-decoration: underline;
  }

  &__space {
    margin: 0 10px;
  }

  &__location {
    font-weight: 500;
  }

  & > h1 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 500;
    margin: 60px 0;
  }
}
