.product-list__btn {
  display: block;
  margin: 20px auto;
  width: 233px;
  height: 46px;
  background-color: #000;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.product-list__btn:hover {
  opacity: 0.8;
}

.product-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 53px;
}